@charset "UTF-8";

// webfonts
@import "include/fonts";

// foundation settings
@import "foundation/settings";
@import "../../../node_modules/foundation-sites/scss/foundation";
@import "foundation/modules";


html {
  height: 100%;
}

body {
  position: relative;
  overflow-y: scroll;
  min-width: 320px;
}

.contentWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


// hyphens for small screens
@include breakpoint(medium down) {
  body {
    hyphens: auto;
  }
}

// Includes
@import "include/navbar";
@import "include/header";
@import "include/main";
@import "include/footer";

// Widgets
 