// Allgemeines
nav {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: $global-weight-medium;
  ul ul { text-transform: none; }
}



// Auf kleinen Geräten wird der Header zu einem Off-Canvas Element
@include breakpoint(medium down) {

  // Header-Leiste fuer kleine Geraete
  .navbar-mobile {
    height: 65px;
    .menu-button {
      padding: 5px;
      span {
        @include hamburger($primary-color, $primary-color);
      }
    }
  }

  // Kopfbereich der Mobilnavigation (inkl Close Button)
  .menu-head {
    min-height: 65px;
  }

  // Hauptmenue Mobil (Aufklapper)
  nav {
    margin-bottom: 2em;
    padding-left: 5px;
    padding-right: 5px;
    .menu a { padding: 1rem 0; }
    .accordion-menu .is-accordion-submenu a { padding-left: 1rem; }
  }

  // Suchfeld
  nav .search-wrapper form {
    display: block;
    margin: 2em 0 0;
    padding: 0;
    position: relative;

    input[type="search"] {
      width: 100%;
      padding-right: 40px;
    }

    input[type="submit"] {
      position: absolute;
      top: 0;
      right: 0;
      width: 35px;
      height: 100%;
      margin: 0;
      padding: 0;
      background: transparent url(../img/icon_search.svg) no-repeat center center;
      background-size: 60% 60%;
      overflow: hidden;
      text-indent: -999px;
    }

  }

}



// Header bei groesseren Geraeten am Seitenanfang zeigen
@include breakpoint(large) {

  header {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    &.off-canvas.in-canvas-for-large {
      width: 100%;
      overflow: visible; // Wichtig fuers Aufklapp-Menue
    }
    > .grid-x { min-height: 150px; }
  }

  // Hauptmenue Destop
  nav .menu a.current {
    position: relative;
    &:after {
      content: "";
      width: 80%;
      height: 3px;
      background: $primary-color;
      position: absolute;
      bottom: 5px;
      left: 10%;
    }
  }

  // Schoenere Dropdown Menues
  nav {
    display: flex;

    .is-dropdown-submenu {
      padding-top: 10px;
      border: none;
      background: transparent;
      color: $white;
      z-index: 2;
      li { background: $primary-color; }
      a { color: inherit; }
    }

    .is-dropdown-submenu::before {
      @include css-triangle(10px, $primary-color, up);
      position: absolute;
      top: 0;
      left: 2rem;
    }
    .opens-left .is-dropdown-submenu::before {
      left: auto;
      right: 2rem;
    }

  }

  // Volltextsuche bei Desktop Geraeten als Aufklapper
  nav .search-wrapper {
    padding: 0 5px 0 25px;
    margin: 0;
    position: relative;

    label {
      display: block;
      background: url('../img/icon_search.svg') no-repeat center center;
      background-size: contain;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    form {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1;
      margin: 0;
      width: 250px;
      padding: 0;
      max-height: 0px; // fuer aufklapp-animation
      overflow: hidden;
      transition: all 200ms;
      &::before {
        @include css-triangle(10px, $primary-color, up);
        position: absolute;
        top: 11px;
        right: .5em;
        z-index: 1;
      }
      &.isOpen {
        padding-top: 21px;
        max-height: 100px;
      }
    }

    input[type="search"] {
      display: block;
      width: 100%;
      height: 50px;
      margin: 0;
      padding-right: 50px;
      border: 5px solid $primary-color;
      position: relative;
      z-index: 2;
    }

    input[type="submit"] {
      position: absolute;
      bottom: 5px;
      right: 5px;
      z-index: 3;
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      background: transparent url(../img/icon_arrow.svg) no-repeat center center;
      background-size: 40% 40%;
      overflow: hidden;
      text-indent: -999px;
    }

  }

}

