.heroshot {
  height: 80vh; // fallback
  height: calc(100vh - 180px);
  margin: 0 50px 50px;
  background: $light-gray no-repeat center center;
  background-size: cover;
  position: relative;

  .scrolldown {
    width: 70px;
    height: 70px;
    background: $body-background url(../img/icon_arrow.svg) no-repeat center center;
    background-size: 50% 50%;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
    border-radius: 100%;
    transform: rotate(90deg);
  }

}
