#heroshot {
  height: calc(100vh - 170px);
  max-height: 700px;
  max-width: $max-width;
  margin: 0 auto 85px;
  padding: 0;
  position: relative;
  background: $light-gray no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  // Pfeil nach unten (Auf gehts)
  .scrolldown {
    width: 70px;
    height: 70px;
    background: $body-background url(../img/icon_arrow.svg) no-repeat center center;
    background-size: 50% 50%;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
    border-radius: 100%;
    transform: rotate(90deg);
  }

}


@include breakpoint(large) {

  #heroshot {
    height: calc(100vh - 210px);
    max-height: 1100px;
  }

}
