// Slider Widget auf Basis des Foundation Orbin Moduls
.widget-type-slider {

  .orbit-wrapper {
    position: relative;

    .orbit-previous, .orbit-next {
      width: 50px;
      height: 50px;
      background: $body-background url(../img/icon_arrow.svg) no-repeat center center;
      background-size: 50% 50%;
      border-radius: 100%;
      cursor: pointer;
    }

    .orbit-previous {
      transform: translate(-50%, -50%) rotate(180deg);
    }

    .orbit-next {
      transform: translate(50%, -50%);
    }

  }

}


// Auf kleineren Geraeten werden Previous und Next im Bild gezeigt
@include breakpoint(medium down) {

  .widget-type-slider .orbit-wrapper {
    .orbit-previous, .orbit-next {
      width: 40px;
      height: 40px;
      margin-left: 25px;
      margin-right: 25px;
    }
  }

}
