// Teaser Widget
.widget-type-teaser {


  // Layout eines einzelnen Teasers
  .teaser {
    background: $light-gray;
    color: $black;

    // Abstand nach unten
    @each $size, $margin in $grid-column-gutter {
      @include breakpoint($size) {
        margin-bottom: $margin;
      }
    }

    .teaser-img-wrapper {
      overflow: hidden;
    }

    .teaser-text-wrapper {
      padding: 1.5rem;
    }

  }


  // Wenn Teaser Widget direkt auf Teaser Widget folgt, entfernen wir den Abstand zwischen den beiden
  + .widget-type-teaser.widget-margin-top {
    margin-top: 0;
  }
  &.widget-margin-bottom + .widget-type-teaser {
    @each $size, $margin in $widget-margin-bottom {
      @include breakpoint($size) {
        margin-top: -$margin;
      }
    }
  }


}
