<!DOCTYPE html>
<html lang="de">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

  <title>Moin!</title>
  <meta name="description" content="" />

  <link rel="stylesheet" type="text/css" href="/res/css/main.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />

</head>

<body>

  <h1>Moin!</h1>

</body>

</html>
