@charset "UTF-8";

// Foundation einbinden und ausgewaehlte Module aktivieren
@import "foundation/settings";
@import "../lib/foundation/scss/foundation";
@import "foundation/modules";

// Webfonts
@import "include/fonts";

body {
  min-width: 320px;
  min-height: 400px;
  overflow-y: scroll;
}

// Wrapper auf maximale Hoehe setzen, damit der Footer immer am Seitenende ist
#top {
  min-height: 100vh;
}

a {
  transition: color 200ms;
}

h1, h2 {
  margin-bottom: $header-margin-bottom + .75;
}

// Auf kleineren Geräten aktivieren wir die Silbentrennung
@include breakpoint(medium down) {
  body {
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

// Schriftgroesse auf grossen Geraeten anpassen
@include breakpoint(large) { body { font-size: $global-font-size + 1; } }

// Allgemeine Layout-Elemente
@import "include/header";
@import "include/heroshot";
@import "include/footer";
@import "include/media-source";

// Widgets
@import "widgets/basis";
@import "widgets/text";
@import "widgets/teaser";
@import "widgets/slider";
